<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
</head>
<body>

     <form action="{% url 'shop:register' %}", method="POST">
        {% csrf_token %}
        用户名：<input type="text", name="username">
        密码：<input type="password", name="password">
        确认密码：<input type="password", name="re_pwd">
        <button type="submit">Register</button>
     </form>

    
</body>
</html>